
<tbody>
    <div>
       <tr>
        <td>
            <div class="row">
                <div class="col-lg-2 Product-img">
                    <img height="250" width="250" src="{{server + '/uploads/' + product.product_image}}" alt="..."/>
                </div>
                <div class="col-lg-10">
                    <h4 class="nomargin">{{product.product_name}}</h4>
                    <p>{{product.product_desc}}</p>
                </div>
            </div>
        </td>
        <td> {{product.product_price}}</td>
        <td data-th="Quantity">
            <b>Quantity : {{qty}}</b>
        </td>
        
        <td class="actions" data-th="" style="width:10%;">
            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>x</button>
        </td>
      </tr> 
    </div>
</tbody>